<body>
<div class="container-fluid">
    <header class="d-flex justify-content-center py-3">
    
      <ul class="nav nav-pills">
        <li class="nav-item display-4">Result Management System</li>
      </ul>
    </header>
  </div>
<div class="px-4 py-5 my-5 text-center">
    
    <img class="d-block mx-auto mb-4" src="https://static.vecteezy.com/system/resources/previews/000/505/652/original/male-student-icon-design-vector.jpg" alt="" width="150" height="150">
    <h1 class="display-5 fw-bold">Login as</h1>
    <br/><br/>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" routerLink="/StudentPage" class="btn btn-primary btn-lg px-4 gap-3">Student</button>&nbsp;&nbsp;
        <button type="button" routerLink="/Login" class="btn btn-outline-secondary btn-lg px-4">Teacher</button>
      </div>
    </div>
  </div>
</body>