<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/" color="btn-info" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>
  </mat-toolbar>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <form [formGroup]="signupForm" class="p-4 p-md-5 border rounded-3 bg-light" (ngSubmit)="signUp()">
            <div class="form-floating mb-3">
                <input formControlName="username" type="text" class="form-control" id="floatingInput" placeholder="Username">
                <label for="floatingInput">Username</label>
                <span class="text-danger" *ngIf="signupForm.controls['username'].touched && signupForm.hasError('required','username')">*Username is required</span>
              </div>
          <div class="form-floating mb-3">
            <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
            <span class="text-danger" *ngIf="signupForm.controls['email'].touched && signupForm.hasError('required','email')">*Email is required</span>
          </div>
          <div class="form-floating mb-3">
            <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <span class="text-danger" *ngIf="signupForm.controls['password'].touched && signupForm.hasError('required','password')">*Password is required</span>
          </div>
          <button class="w-100 btn btn-lg btn-primary" [disabled]="!signupForm.valid" type="submit">Register</button>
          <hr class="my-4">
          <small class="text-muted">Already registered? click to <a routerLink="/Login">Login</a></small>
        </form>
      </div>
    </div>
  </div>